[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TestsSymmetry"]
	path = TestsSymmetry
	url = https://github.com/jzhou54/testssymmetry
